.cmlwoo-titlewrap {
  position: relative;
	margin: 10px 0 0 30px;
}

.cmlwoo-titlewrap > img {
  position: absolute;
  left: -25px;
  top: 50%;
  margin-top: -6px;
}

.cmlwoo-title {
	padding: 3px 8px;
	font-size: 1.7em;
	line-height: 100%;
	height: 1.7em;
	width: 100%;
	outline: 0;
	margin: 0;
	background-color: #fff;
}

#cmlwoo-editor textarea {
	height: 495px !important;
}

h2.cmlwoo-nav-tab {
  padding-bottom: 0 !important;
  line-height: 26px !important;
}

	.cmlwoo-nav-tab > a {
	  padding: 0 4px 0 5px !important;
	  font-weight: normal !important;
	  cursor: pointer !important;
	}

	.cmlwoo-nav-tab .nav-tab-active {
	  background: #fff;
	  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.2 );
	}

.cmlwoo-nav-tab img {
  opacity: 0.5;
  padding-right: 5px;
}

.cmlwoo-editor-wrapper .mce-edit-area {
	height: 433px !important;
}

.cml-permalink {
  margin-left: 48px;
}

  .cml-permalink > strong img {
    padding-right: 5px;
    opacity: 0.6;
  }


.cmlwoo-spinner {
  float: none !important;
  margin: 0 !important;
}